body {
    background-color: #EFDAD7;
}

hr {
    /* background-color: #867070; */
    border-style: none;
    border-top-style: dotted;
    border-width: 7px;
    border-color: #1572A1;
    height: 0px;
    width: 5%;
}

h1 {
    color: #1572A1;
}

h3 {
    color: #1572A1;
}

img:hover {
    opacity: 50%;
    border-style: inset;
    border-color: black;
    border-width: 2px;
    border-radius: 100%;
}

.myName {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}